.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.anime-container{
  width: 880px;
  margin: 0 auto;
}

.anime-cards{
  width: 70%;
  background:#D3D3D3;
  margin: 0 auto;
  padding-bottom: 30px;
}

.anime-cards p{
   margin: 20px;
}

.anime-content p{
  margin-bottom: 40px;
}